.mentee_videolist_body {
	height: 300vh;
	position: relative;
}

.mentee_videolist_title {
	font-size: 30px;
	margin-top: 150px;
	margin-bottom: 30px;
	margin-left:300px;
}

.metee_videolist_container {
	text-align:center;
	width: auto;
	width:auto;
}

.mentee_videolist_content_img {
	width: 300px;
	height: 200px;
	padding: 30px;
	position: relative;
}