.video_view_body{
	height: 200vh;
	position: relative;
}

.video_view_title_container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
   width:100%;
}

.video_view_title_wraper {
   width:80%;
   height: auto;
   margin-bottom: 120px;
   display: flex;
   flex-direction:column;
   align-items: center;
}
.video_view_title_title{
	font-size:48px;
}

.video_view_title_subtitle{
	margin-top:20px;
	font-size:20px;
	color: #6B7280;
}

.video_view_container{
	width:100%;
	display:flex;
	justify-content:center;
}

.video_view_wraper{
	width:80%;
	display:flex;
	justify-content:center;
}

.video_view_wraper video{
	border-radius: 3px;
}

.video_view_profile_img img{
	width: 230px;
    height: 307px;
    border-radius: 20px;
}

.video_view_body_container{
	display: flex;
   justify-content: center;
   width:100%;
   padding:20px 0px;
}

.video_view_body_wraper{
	display: flex;
	width:67%;
	justify-content:space-between;
	font-size:18px;
	padding:10px 10px;
	padding-bottom:10px;
	border-bottom: 1px solid #f1f3f5;
}

.video_view_body_video_date{
	margin-left:10px;
}

.video_view_body_video_name{
	font-size:24px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.video_view_profile_information_container{
	width:100%;
	display:flex;
	justify-content:center;
}

.video_view_profile_information_wraper{
	width:66%;
	display:flex;
}

.video_type_font{
	font-size:18px;
	margin-top:10px;
	padding-left:5px;
}

.video_view_information_box_mentor_name span{
	font-size: 28px;
    font-weight: 800;
}

.video_view_information_box{
	padding-top:30px;
	margin-left:30px;
}

.video_view_information_box_lecture_intro{
	font-size: 18px;
	margin-top:20px;
	padding-left:10px;
}